#application-splash-wrapper
    position absolute
    top 50%
    left 50%
    height 100%
    width 100%
    background-color #87beff3
    transform translate(-50%, -50%)
    /* transform scale(0.45) */

*
, *:before
, *:after
    border 0
    box-sizing border-box
    margin 0
    padding 0

:root
    font-size 20px

body
    background #87beff
    color #222
    font 1em "Anton", sans-serif
    line-height 1.5
    overflow-x hidden

.progress-container
, .progress-state
, .dump-truck
, .dump-truck div
    position absolute


.progress-container
, .progress-box
    width 6em

.progress-container
    top 50%
    left calc(50% - 3em)
    height 7.5em
    z-index 2

.progress-box
    border-radius 0 0 50% 50%
    border 0.3em solid #505050
    border-top 0
    height 4em
    overflow hidden
    transform translateZ(0)
    position relative
    z-indev 10

.progress-glass
    position relative

.progress-glass::before
    content ""
    position absolute
    background-color #505050
    top 100%
    left 50%
    transform translateX(-50%)
    width 6px
    height 60px

.progress-glass::after
    content ""
    position absolute
    background-color #505050
    top calc(100% + 60px)
    left 50%
    transform translateX(-50%)
    width 60px
    height 10px
    border-radius 30px 30px 0px 0px

.progress-fill
    animation fillDirt 10s linear forwards
    background #ff9bba
    transition height 0.5s ease-out
    width 100%
    height 0%
    left 0
    bottom 0
    overflow hidden
    position absolute
    z-index 0

.progress-state
    bottom -60px
    left 0
    font-size 1.5em
    text-align center

.state-finish
    display none

/* trucks */
.dump-truck
    opacity 0
    top calc(50% - 4em)
    width 14em
    height 8em

.dump-truck:nth-of-type(2)
    animation backupL 10s ease-in-out infinite forwards
    right 50%
    transform scaleX(-1) translateX(5em)

.dump-truck:nth-of-type(2) .bucket
    animation dump 10s linear infinite
    background url(https://d919tivf645f5.cloudfront.net/files.chocolat.work/game/track/chocolat.png) no-repeat center/100% 100%

.dump-truck:nth-of-type(2) .dirt
    animation rotateDirt 10s linear infinite

.dump-truck:nth-of-type(2) .dirt-spill
    animation pourDirt 10s linear infinite

.dump-truck:nth-of-type(2) .wheel
    animation spinL 10s ease-in-out infinite

.dump-truck:last-of-type
    animation backupR 10s 5s ease-in-out infinite forwards
    left 50%
    transform translateX(5em)

.dump-truck:last-of-type .bucket
    animation dump 10s 5s linear infinite

.dump-truck:last-of-type .dirt
    animation rotateDirt 10s 5s linear infinite

.dump-truck:last-of-type .dirt-spill
    animation pourDirt 10s 5s linear infinite

.dump-truck:last-of-type .wheel
    animation spinR 10s 5s ease-in-out infinite

.front
    background linear-gradient(#ffffff, #ffffff) 2.7em 0.75em/0.2em 2em, linear-gradient(#a0a0a0, #a0a0a0) 1em 3.5em/0.8em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.1em/0.5em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.8em/0.5em 0.2em, linear-gradient(83deg, #282828 49%, rgba(40, 40, 40, 0) 50%) 1em 0.75em/5em 2em, radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 59%, rgba(255, 255, 255, 0) 60%), radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 63, 48, 0) 49%, #ffffff 50%)
    background-repeat no-repeat
    border-radius 10% 20% 5% 25%/10% 50% 5% 100%
    top 0.4em
    left 10.1em
    width 3.9em
    height 7em

.bucket
    background url(https://d919tivf645f5.cloudfront.net/files.chocolat.work/game/track/job.png) no-repeat center/100% 100%
    top 0
    left 0
    width 10em
    height 5.5em
    transform rotate(0deg)
    transform-origin 22% 100%

.dirt
    background #ff9bba
    border-radius 0 0 50% 50%/0 0 100% 100%
    top 1.1em
    left -3.2em
    width 7.4em
    height 3em
    transform rotate(-25deg)
    transform-origin 50% 0
    z-index -1

.dirt-spill
    background #ff9bba
    border-radius 0.4em
    top 0
    left -5.25em
    transform rotate(-40deg) scale(1, 1)
    transform-origin 5.25em 0em
    width 5.5em
    height 0.8em

.base
    background #7f5b58
    border-radius 0.25em
    top 5.5em
    left 2em
    width 8.3em
    height 1.5em

.wheel
    background radial-gradient(100% 100%, #282828 9%, rgba(40, 40, 40, 0) 10%), radial-gradient(100% 100%, #a0a0a0 29%, rgba(160, 160, 160, 0) 30%), linear-gradient(90deg, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(100% 100%, #282828 49%, rgba(40, 40, 40, 0) 50%);
    border-radius 50%
    bottom 0
    width 2.4em
    height 2.4em

.wheel-front
    left 10.4em

.wheel-middle
    left 4.5em

.wheel-back
    left 2em

/* animations */
@keyframes backupL
    from, 50%, to
        opacity 0
        transform scaleX(-1) translateX(20em)
    12.5%, 37.5%
        opacity 1
        transform scaleX(-1) translateX(5em)

@keyframes backupR
    from, 50%, to
        opacity 0
        transform translateX(20em)
    12.5%, 37.5%
        opacity 1
        transform translateX(5em)

@keyframes dump
    from, 12.5%, 37.5%, to
        transform rotate(0deg)
    20%, 30%
        transform rotate(-40deg)

@keyframes rotateDirt
    from, 19.9%, 30.1%, to
        opacity 0
    20%, 30%
        opacity 1
        transform rotate(-40deg)
    25%
        transform rotate(-25deg)

@keyframes pourDirt
    from, 20%
        transform rotate(-40deg) scale(0, 0)
    25%
        transform rotate(-40deg) scale(1, 1)
    30%, to
        transform rotate(-25deg) scale(0.8, 0)

@keyframes spinL
    from, 50%, to
        transform rotate(-0.5turn)
    12.5%, 37.5%
        transform rotate(-2.5turn)

@keyframes spinR
    from, 50%, to
        transform rotate(0)
    12.5%, 37.5%
        transform rotate(-2turn)
@keyframes hideLoad
    from
        visibility visible
    to
        visibility hidden

@keyframes showFinish
    from
        transform scale(0)
        visibility visible
    80%
        transform scale(1.2)
    to
        transform scale(1)
        visibility visible